<template>
    <jet-dialog-modal :show="this.showEditModal"
                      :closeable="true">

        <template #title>
            <button type="button"
                    @click="$emit('close')"
                    style="float: right"
                    class="bg-white rounded-md p-2  mb-2 inline-flex items-center justify-center
                                         text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none
                                         focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                <span class="sr-only">Close menu</span>
                <!-- Heroicon name: outline/x -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </template>

        <template #content>
            <!-- Description -->
            <div class="col-span-6 sm:col-span-4">
                <jet-label for="logs" value="Ошибки" />
                <jet-text-area id="logs" type="textarea" class="mt-1 block w-full" v-model="logs"
                               v-bind:value="logs"
                               @keyup="inputChanged"
                               autocomplete="logs" />
            </div>
        </template>

        <template #footer>
            <jet-secondary-button @click="updateLogs">
               Обновить
            </jet-secondary-button>
        </template>
    </jet-dialog-modal>
</template>



<script>
    import JetLabel from '@/Jetstream/Label';
    import JetDialogModal from '@/Jetstream/DialogModal';
    import JetTextArea   from '@/Jetstream/Textarea';
    import JetInputError from '@/Jetstream/InputError';
    import JetSecondaryButton from '@/Jetstream/SecondaryButton';

    export default {
        props: [],
        data() {
            return {
                showEditModal: false,
                logs: '',
            }
        },
        methods:{
            updateLogs() {
                var logsData = {'logs': this.logs};
                axios.post('/api/storage/update', logsData).then(response => {
                        this.logs = response.data;
                        this.$emit('logsUpdated',  this.logs);
                    });
            },
            inputChanged(el) {
                this.logs = el.target.value;
            }
        },
        mounted() {
            axios.get('/api/storage/get')
                .then(response => {
                this.logs = response.data;
           });
        },
        emits: ['logsUpdated', 'close'],
        components: {
            JetDialogModal,
            JetTextArea,
            JetInputError,
            JetLabel,
            JetSecondaryButton,
        },
    }

</script>
