<template>
    <jet-dialog-modal :show="this.showEditProject"
                      :closeable="true">

        <template #title>
            <button type="button"
                    @click="$emit('close')"
                    style="float: right"
                    class="bg-white rounded-md p-2  mb-2 inline-flex items-center justify-center
                                         text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none
                                         focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                <span class="sr-only">Close menu</span>
                <!-- Heroicon name: outline/x -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </template>

        <template #content>
            <div class="col-span-6 sm:col-span-4">
                <div class="mt-4" v-if="project">
                    <jet-label for="year" value="Год" />
                    <jet-input id="year" class="mt-1 block w-full" v-model="project.year_end" required/>
                </div>

                <div class="mt-4" v-if="project">
                    <jet-label for="folder" value="Путь к хранилищу" />
                    <jet-input id="folder" class="mt-1 block w-full" v-model="project.folder" required/>
                </div>
            </div>
        </template>

        <template #footer>
            <jet-secondary-button @click="updateProject">
               {{  updateStatus }}
            </jet-secondary-button>
        </template>
    </jet-dialog-modal>
</template>

<script>
    import JetLabel from '@/Jetstream/Label';
    import JetDialogModal from '@/Jetstream/DialogModal';
    import JetSecondaryButton from '@/Jetstream/SecondaryButton';
    import JetInput from '@/Jetstream/Input'

    export default {
        props: ['projectId'],
        data() {
            return {
                showEditProject: false,
                project: '',
                updateStatus: 'Обновить',
            }
        },
        methods:{
            updateProject() {
                this.updateStatus = 'Обновляется .... ';

                var projectData = {
                    'project':
                        {   'id': this.projectId,
                            'year': this.project.year_end,
                            'folder': this.project.folder,
                        }
                    };

                axios.post('/api/project/update/' + this.projectId, projectData).then(response => {
                    this.updateStatus = 'Обновить';

                    this.$emit('projectUpdated', response.data.project);
                    this.$emit('close');
                });
            }
        },
        mounted() {
            axios.get('/api/project/get/' + this.projectId)
                .then(response => {
                     if(response.data.status === 'success') {
                         this.project = response.data.project;
                     }
                });
        },
        emits: ['projectUpdated', 'close'],
        components: {
            JetDialogModal,
            JetLabel,
            JetSecondaryButton,
            JetInput,
        },
    }
</script>
