<template>
    <jet-dialog-modal :show="showModalDialog"
                      :closeable="true">
        <template #title>
            Сохранение пользователя
        </template>

        <template #content>
            Данные пользователя успешно сохранены.
        </template>

        <template #footer>
            <jet-secondary-button @click="$emit('close')">
                Закрыть
            </jet-secondary-button>
        </template>
    </jet-dialog-modal>
</template>

<script>
    import JetDialogModal from '@/Jetstream/DialogModal';
    import JetSecondaryButton from '@/Jetstream/SecondaryButton';

    export default {
        data() {
            return {
                showModalDialog: false,
            }
        },
        methods:{

        },
        components: {
            JetDialogModal,
            JetSecondaryButton,
        },
    }
</script>