<template>
    <jet-dialog-modal :show="showModalDialog" :showFooter="false"
                      :closeable="true" :background="'transparent'"
                      :maxWidth="'4xl'">
        <template #title>
            <button  @click="$emit('close')" type="button"
                    style="float: right"
                    class="bg-white rounded-md p-2  mb-2 inline-flex items-center justify-center
                                         text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none
                                         focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                <span class="sr-only">Close menu</span>
                <!-- Heroicon name: outline/x -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </template>

        <template #content>
            <Video :movie="movie" />
        </template>

    </jet-dialog-modal>
</template>

<script>
    import Video from '@/Pages/Video'
    import JetDialogModal from '@/Jetstream/DialogModal'

    export default {
        props: ['movie'],
        data() {
            return {
               showModalDialog: false,
            }
        },
        methods:{

        },
        components: {
            Video,
            JetDialogModal,
        },
    }
</script>