<template>
    <app-layout>
        <template #header>
            <div class="grid grid-cols-12 gap-2">
                <div class="col-span-7">
                    <h1 class="text-3xl font-semibold">{{ actor.name }}</h1>
                </div>
                <div class="col-span-5">
                    <div class="mt-2 text-right">
                        <button class="bg-red-500 text-white py-1 px-2 rounded" @click="deleteActor">Удалить</button>
                    </div>
                </div>
            </div>
        </template>

        <div class="py-6">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div v-for="data in actor.moviesGroupedByProject" class="py-6">
                    <h2 class="text-xl font-bold mb-3 text-center" :id="data.project.id">
                        {{ data.project.name }} </h2>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 border border-t-0 border-r-0 border-l-0 px-5 py-3">
                        <div v-for="movie in data.movies">
                            <div style="height:200px; cursor: pointer" class="bg-gray-300">
                                <img v-if="movie" :src="movie.image_path"
                                     style="height: 100% !important; width: 100%; !important;"
                                     v-on:click="showVideo(movie)">
                            </div>
                            <div class="text-center p-4">
                                <a :href="'/project/' + data.project.id" class="text-blue-500">
                                    {{ data.project.name }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <video-modal :show="showModalDialog"
                     :movie="this.movie"
                     @close="hideModal($event)" >
        </video-modal>

    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import ActorsListResults from "@/Pages/Search/ActorsListResults";
    import VideoModal from "@/Pages/Modals/VideoModal";
    import OtherActors from '@/Pages/OtherActors';

    export default {
        props: ['project', 'actor'],
        data() {
            return {
                searchQuery: '',
                showModalDialog: false,
            }
        },
        created() {
            this.movie = null;
        },
        methods:{
            ChangeT(title)
            {
                this.searchQuery=title;
            },
            hideModal()
            {
                this.showModalDialog = false;
            },
            showVideo(movie)
            {
                this.movie = movie;
                this.showModalDialog = true;
            },
            deleteActor() {
                let actor = {actor: this.actor};
                axios.post('/deleteActor', actor).then(response => {
                    if(response.data.status === 'success') {
                        window.location = route('actors');
                    }
                });
            },
        },
        components: {
            AppLayout,
            ActorsListResults,
            VideoModal,
            OtherActors,
        },
    }

</script>
