<template>
    <app-layout id="app">
        <template #header>
            <search-string @changeTitle="ChangeT($event)" ></search-string>
        </template>
        <div class="py-6">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
               <actors-list-results :searchQuery="searchQuery">
               </actors-list-results>
               <projects-list-results :searchQuery="searchQuery">
               </projects-list-results>
               <roles-list-results :searchQuery="searchQuery">
               </roles-list-results>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import SearchString from "@/Pages/Search/SearchString";
    import Welcome from '@/Jetstream/Welcome';
    import ActorsListResults from "@/Pages/Search/ActorsListResults";
    import ProjectsListResults from "@/Pages/Search/ProjectsListResults";
    import RolesListResults from "@/Pages/Search/RolesListResults";

    export default {
        props: [],
        data() {
            return {
                searchQuery: '',
            }
        },
        methods:{
            ChangeT(title)
            {
                this.searchQuery=title;
            },
        },
        components: {
            AppLayout,
            SearchString,
            ActorsListResults,
            ProjectsListResults,
            RolesListResults,
            Welcome,
        },
    }
</script>
