<template>
   <span v-for="(role, actorName) in otherActors">
       <span v-if="role" class="italic">, {{role}} &mdash;</span>
       {{actorName}}
   </span>
</template>

<script>
    export default {
        props: ['otherActors'],
    }
</script>
