<template>
    <app-layout>
        <template #header>
            <div class="grid grid-cols-12 gap-2">
                <div class="col-span-7">
                    <h1 class="text-3xl font-semibold"> {{ project.name }}</h1>
                </div>
            </div>
        </template>

        <div class="py-6">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <h2 class="text-xl font-bold mb-3"> {{ role.name }}</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-2 border border-t-0 border-r-0 border-l-0 px-5 py-3">
                    <div v-for="audition in role.auditions">
                        <div v-if="role.project_id == project.id" :key="audition.id">
                            <div style="height:200px; cursor: pointer" class="bg-gray-300">
                                <img v-if="audition.movie" :src="audition.movie.image_path"
                                     style="height: 100% !important; width: 100%; !important;"
                                     v-on:click="showVideo(audition.movie)">
                            </div>
                            <div class="text-center p-4">
                                <a :href="'/project/' + audition.project.id" class="text-blue-500">
                                    {{ audition.project.name }}
                                </a>
                                <div>{{audition.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <video-modal :show="showModalDialog"
                     :movie="this.movie"
                     @close="hideModal($event)" >
        </video-modal>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import VideoModal from "@/Pages/Modals/VideoModal";

    export default {
        props: ['project', 'role'],
        data() {
            return {
                searchQuery: '',
                showModalDialog: false,
            }
        },
        created() {
            this.movie = null;
        },
        methods:{
            ChangeT(title)
            {
                this.searchQuery=title;
            },
            hideModal()
            {
                this.showModalDialog = false;
            },
            showVideo(movie)
            {
                this.movie = movie;
                this.showModalDialog = true;
            },
        },
        components: {
            AppLayout,
            VideoModal,
        },
    }

</script>
