<template>
    <app-layout>
        <template #header>
            <search-string @changeTitle="ChangeT($event)" ></search-string>
        </template>
        <div class="py-6">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <projects-list-results :searchQuery="searchQuery">
                </projects-list-results>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import SearchString from "@/Pages/Search/SearchString";
    import ProjectsListResults from "@/Pages/Search/ProjectsListResults";

    export default {
        props: [],
        data() {
            return {
                searchQuery: '',
            }
        },
        methods:{
            ChangeT(title)
            {
                this.searchQuery=title;
            },
        },
        components: {
            AppLayout,
            SearchString,
            ProjectsListResults,
        },
    }
</script>
