<template>
    <app-layout>
        <template #header>
            <div class="grid grid-cols-12 gap-2">
            <div class="col-span-6">
                <h1 class="text-3xl font-semibold">{{ project.name }}</h1>
            </div>
            <div class="col-span-6">
                <div class="mt-2 text-right">
                    <button class="bg-transparent hover:bg-red-500 text-red-600 font-semibold hover:text-white
                                 py-1 px-2 mr-2 border border-red-500 hover:border-transparent rounded"
                            @click="editProjectData">
                        Редактировать</button>
                    <edit-project :show="showEditProject" @close="hideEditProjectModal($event)"
                       :projectId="project.id" @projectUpdated="projectUpdated($event)">
                    </edit-project>
                    <button class="bg-blue-500 text-white py-1 px-2 rounded mr-2" @click="indexData">
                      {{ reIndexText }}
                    </button>
                    <flash-message :showUpdated="showIndexUpdated"
                                   :text="this.flashMessage"
                                   :type="this.flashType"></flash-message>
                    <button class="bg-red-500 text-white py-1 px-2 rounded" @click="deleteProject">Удалить</button>
                </div>
            </div>
            </div>
        </template>
        <div class="py-6">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="grid grid-cols-12 gap-2">
                    <div class="col-span-12">
                        <div class="mt-4"><span class="font-bold">Год: </span> {{ project.year_end }}</div>
                        <div><span class="font-bold">Путь к хранилищу: </span> {{ project.folder }}</div>
                    </div>
                </div>

                <h2 class="text-xl font-bold mt-7 mb-3">Роли</h2>
                <div class="bg-white overflow-hidden shadow-md sm:rounded-lg">
                    <div v-for="role in project.roles" v-bind:key="role"
                         class="grid grid-cols-12 gap-2 border border-t-0 border-r-0 border-l-0 px-5 py-3">
                        <div class="col-span-3">
                            <a target="_blank"
                               v-if="project.id && role.id" :href="route('projectRole', [project.id, role.id])"
                               class="d-block text-blue-500 font-bold">
                                {{ role.name }}
                            </a>
                            <span v-else>
                                {{ role.name }}
                            </span>
                        </div>
                        <div class="col-span-9">
                            <div v-for="audition in role.auditions" class="mb-2">
                                <div class="float-left text-gray-600" v-on:click="showVideo(audition.movie)">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                </div>
                                <a :href="'/actor/' + audition.actor.id + '#' + project.id" class="pl-3 text-blue-500">
                                    {{ audition.actor.name }}
                                </a>
                                <other-actors :otherActors="audition.otherActors"></other-actors>
                            </div>
                        </div>
                    </div>
                </div>

                <video-modal :show="showModalDialog"
                             :movie="this.movie"
                             @close="hideModal($event)" >
                </video-modal>

                <ActorsListInProject  :actorsInitial="project.actors"></ActorsListInProject>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import ActorsListInProject from "@/Pages/Search/ActorsListInProject";
    import FlashMessage from '@/Jetstream/FlashMessage';
    import VideoModal from "@/Pages/Modals/VideoModal";
    import OtherActors from '@/Pages/OtherActors';
    import EditProject from '@/Pages/Modals/EditProject';

    export default {
        props: ['project', 'showReIndex'],
        data() {
            return {
                searchQuery: '',
                flashMessage: '',
                flashType: 'success',
                showIndexUpdated: false,
                showModalDialog: false,
                showEditProject: false,
                reIndexText: 'Переиндексировать',
            }
        },
        created() {
            this.movie = null;
        },
        methods:{
            ChangeT(title)
            {
                this.searchQuery=title;
            },
            deleteProject() {
                let project = {project: this.project};
                axios.post('/deleteProject', project).then(response => {
                    if(response.data.status === 'success') {
                        window.location = route('projects');
                    }
                });
            },
            indexData() {
                this.reIndexText = 'Идет переиндексация ....';
                axios.get('/api/storage/indexData/' + this.project.id).then(response => {
                    if(response.data.status === 'success') {
                        this.showIndexUpdated = new Date().getTime() / 1000;
                        this.flashMessage = 'Переиндексация прошла успешно';
                        this.flashType = 'success';

                        location.reload();
                    }
                });
            },
            editProjectData() {
                this.showEditProject = true;
            },
            showVideo(movie)
            {
                this.movie = movie;
                this.showModalDialog = true;
            },
            hideModal()
            {
                this.showModalDialog = false;
            },
            hideEditProjectModal()
            {
                this.showEditProject = false;
            },
            projectUpdated(event)
            {
               this.project.year_end = event.year_end;
               this.project.folder   = event.folder;

               this.showIndexUpdated = new Date().getTime() / 1000;
               this.flashMessage = 'Проект успешно обновлен!';
               this.flashType = 'success';
            },
        },
        components: {
            AppLayout,
            ActorsListInProject,
            FlashMessage,
            VideoModal,
            OtherActors,
            EditProject,
        },
    }
</script>
