<template>
    <app-layout>
        <template #header>
            <h1 class="text-3xl font-semibold">
                Настройки
            </h1>
        </template>

        <div class="py-6">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <h2 class="text-xl font-bold mt-7 mb-3">Хранилище</h2>
                <div class="bg-white overflow-hidden shadow-md sm:rounded-lg">
                    <div v-for="line in logs" class="border border-t-0 border-r-0 border-l-0 p-3">
                        {{ line }}
                    </div>
                </div>

                <div class="mt-4 mb-6">
                    <button @click="editSettings" class="bg-blue-500 text-white py-1 px-2 mr-2 rounded ">
                        Редактировать</button>
                    <edit-settings-modal :show="showEditModal" @close="hideEditModal($event)"
                      @logsUpdated="updateLogs($event)">
                    </edit-settings-modal>
                    <button class="bg-blue-500 text-white py-1 px-2 mr-2 rounded" @click="indexData">
                       {{ reIndexText }}
                    </button>
                    <button class="bg-blue-500 text-white py-1 px-2 rounded" @click="confirmUpdateAllData">
                        Очистить все и переиндексировать
                    </button>

                    <!-- Очистить все и переиндексировать -->
                    <jet-confirmation-modal :show="dataUpdated" @close="dataUpdated = null">
                        <template #title>
                            Очистить все и переиндексировать
                        </template>

                        <template #content>
                            Вы действительно хотите удалить все данные и запустить переиндексацию?
                        </template>

                        <template #footer>
                            <jet-secondary-button @click="dataUpdated = null">
                                Отменить
                            </jet-secondary-button>

                            <jet-danger-button class="ml-2" @click="updateAllData">
                                {{ truncateReIndexText }}
                            </jet-danger-button>
                        </template>
                    </jet-confirmation-modal>
                </div>

                <h2 v-if="errorsList.length > 0" class="text-xl font-bold mt-7 mb-3">Ошибки</h2>
                <div class="bg-white overflow-hidden shadow-md sm:rounded-lg">
                    <div v-for="error in errorsList"  v-bind:value="errors"
                         class="grid grid-cols-12 gap-2 border border-t-0 border-r-0 border-l-0 p-3">
                        <div class="col-span-2"> {{ error.created_at }}</div>
                        <div class="col-span-3"> {{ error.text }}</div>
                        <div class="col-span-7">
                           <span class="text-gray-400">{{ error.debug }}</span>
                        </div>
                    </div>
                </div>
                <div class="mt-4 mb-6" v-if="debugsList.length > 0">
                    <button class="bg-blue-500 text-white py-1 px-2 mr-2 rounded" @click="clearLogs">
                        Очистить все ошибки
                    </button>
                </div>
                <flash-message :showUpdated="showSettingsCleared"
                               :text="this.flashMessage"
                               :type="this.flashType">
                </flash-message>

                <h2 v-if="debugsList.length > 0" class="text-xl font-bold mt-7 mb-3">Лог индексации</h2>
                <div class="bg-white overflow-hidden shadow-md sm:rounded-lg">
                    <div v-for="debug in debugsList"  v-bind:value="debugs"
                         class="grid grid-cols-12 gap-2 border border-t-0 border-r-0 border-l-0 p-3">
                        <div class="col-span-2"> {{ debug.created_at }}</div>
                        <div class="col-span-3"> {{ debug.text }}</div>
                        <div class="col-span-7">
                            <span class="text-gray-400">{{ debug.debug.replace(/,/g, '\n')  }}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import SearchString from "@/Pages/Search/SearchString";
    import EditSettingsModal from '@/Pages/Modals/EditSettingsModal';
    import FlashMessage from '@/Jetstream/FlashMessage';
    import JetConfirmationModal from '@/Jetstream/ConfirmationModal';
    import JetSecondaryButton from '@/Jetstream/SecondaryButton';
    import JetDangerButton from '@/Jetstream/DangerButton';

    export default {
        props: [
            'errors',
            'debugs',
            'file',
        ],

        data() {
            return {
               showEditModal: false,
               logs: '',
               errorsList: '',
               debugsList: '',
               flashMessage: '',
               flashType: 'success',
               showSettingsCleared: false,
               reIndexText: 'Переиндексировать',
               truncateReIndexText: 'Переиндексировать',
               dataUpdated: null,
            }
        },
        mounted() {
           this.logs = this.file;
           this.errorsList = this.errors;
           this.debugsList = this.debugs;
        },
        methods: {
            editSettings() {
                this.showEditModal = true;
            },
            hideEditModal() {
                this.showEditModal = false;
            },
            updateLogs(file) {
                this.logs = file.length ? file.split("\n") : [];
            },
            indexData() {
                this.reIndexText = 'Идет переиндексация ....';
                axios.get('/api/storage/indexData').then(response => {
                   this.debugsList = response.data.debugs;
                   this.errorsList = response.data.errors;

                   this.reIndexText = 'Переиндексировать';
                });
            },
            clearLogs() {
               axios.get('/clearLogs').then(response => {
                   this.debugsList = [];
                   this.errorsList = [];

                   this.showSettingsCleared = new Date().getTime() / 1000;
                   this.flashMessage = 'Все ошибки удалены';
                   this.flashType = 'success';
               });
            },
            confirmUpdateAllData() {
                this.dataUpdated = true;
            },
            updateAllData() {
               this.truncateReIndexText = 'Идет переиндексация ....';
                const token = document.head.querySelector('meta[name="csrf-token"]');
                window.axios.defaults.headers.common['X-CSRF-TOKEN'] = token.content;

                axios.post('/truncateAllData').then(response => {
                   if(response.data.status === "success") {
                       location.reload();
                   }
                });
            },
        },
        components: {
            AppLayout,
            SearchString,
            EditSettingsModal,
            FlashMessage,
            JetConfirmationModal,
            JetSecondaryButton,
            JetDangerButton,
        },
    }
</script>
