<template>
    <app-layout>
        <template #header>
            <h1 class="text-3xl font-semibold">
               Пользователь
            </h1>
        </template>

        <div class="py-6">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <form>
                    <form>
                        <div>
                            <jet-input id="id" type="hidden" class="mt-1 block w-full" v-model="form.id"  />
                            <jet-label for="name" value="Имя" />
                            <jet-input id="name" type="text" class="mt-1 block w-full" v-model="form.name" required autofocus autocomplete="name" />
                        </div>

                        <div class="mt-4">
                            <jet-label for="email" value="Емайл" />
                            <jet-input id="email" type="email" class="mt-1 block w-full" v-model="form.email" required />
                        </div>

                        <div class="mt-4">
                            <jet-label for="password" value="Пароль" />
                            <jet-input id="password" type="password" class="mt-1 block w-full" v-model="form.password" required autocomplete="new-password" />
                        </div>

                        <div class="mt-4">
                            <jet-label for="password_confirmation" value="Confirm Password" />
                            <jet-input id="password_confirmation" type="password" class="mt-1 block w-full" v-model="form.password_confirmation" required autocomplete="new-password" />
                        </div>

                        <div class="flex items-center justify-end mt-4">
                            <jet-button class="ml-4"
                                        @click.native.prevent = "this.saveData()"
                                        :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                Сохранить
                            </jet-button>

                            <flash-message :showUpdated="showUserUpdated"
                                :text="this.flashMessage"
                                :type="this.flashType"></flash-message>
                        </div>
                    </form>
                </form>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout';
    import JetButton from '@/Jetstream/Button'
    import JetInput from '@/Jetstream/Input'
    import JetCheckbox from "@/Jetstream/Checkbox";
    import JetLabel from '@/Jetstream/Label'
    import JetValidationErrors from '@/Jetstream/ValidationErrors'
    import UserUpdatedModal from '@/Pages/Modals/UserUpdated';
    import FlashMessage from '@/Jetstream/FlashMessage';

    export default {
        props: ['user'],
        components: {
            AppLayout,
            JetButton,
            JetInput,
            JetCheckbox,
            JetLabel,
            JetValidationErrors,
            UserUpdatedModal,
            FlashMessage,
        },
        data() {
            return {
                form: this.$inertia.form({
                    id: this.user.id,
                    name: this.user.name,
                    email: this.user.email,
                    password: '',
                    password_confirmation: '',
                }),
                showUserUpdated: false,
                flashMessage: '',
                flashType: 'success',
            }
        },

        methods: {
           saveData() {
               if(!this.form.password) {
                   this.showUserUpdated = new Date().getTime() / 1000;
                   this.flashMessage = 'Введите пароль';
                   this.flashType = 'error';
                   return;
               }

               if(!this.form.password_confirmation) {
                   this.showUserUpdated = new Date().getTime() / 1000;
                   this.flashMessage = 'Подтвердите пароль';
                   this.flashType = 'error';
                   return;
               }

               if(this.form.password.length < 6) {
                   this.showUserUpdated = new Date().getTime() / 1000;
                   this.flashMessage = 'Пароль слишком короткий, минимальная длина 6 символов';
                   this.flashType = 'error';
                   return;
               }

               if(this.form.password !== this.form.password_confirmation) {
                   this.showUserUpdated = new Date().getTime() / 1000;
                   this.flashMessage = 'Пароли не совпадают';
                   this.flashType = 'error';
                   return;
               }

               var formData = {'form': this.form};
               axios.post(this.route('updateUser'), formData).then(response => {
                   if(response.data.status === 'success') {
                       this.showUserUpdated = new Date().getTime() / 1000;
                       this.flashMessage = 'Данные пользователя успешно сохранены.';
                       this.flashType = 'success';
                       this.form.reset('password', 'password_confirmation');
                   }
               });
           },
           hideEditModal() {
              this.showUserUpdated = false;
           },

        }
    }
</script>
