<template>
    <app-layout>
        <template #header>
            <h1 class="text-3xl font-semibold">
                Пользователи
            </h1>
        </template>

        <div class="py-6">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg border
                              border-t-0 border-r-0 border-l-0 ">
                    <div v-for="user in users" class="p-3">
                        <a :href="'/user/' + user.id" class="text-blue-500">
                            {{ user.email }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'

    export default {
        props: ['users'],
        components: {
            AppLayout,
        },
    }
</script>
