<style>
    #video-elem {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 70% !important;
        outline: none !important;
    }
</style>

<template>
    <div class="video-wrap">
        <video controls="true" id="video-elem" autoplay>
            <source :src="movie.source" :type="'video/mp4'">
        </video>
        <div class="text-center text-white mt-5 font-bold">{{ movie.file_path }}</div>
    </div>
</template>

<script>
    export default {
        name: "Video",
        props: ['movie']
    }
</script>