<template>
    <!-- Actors -->
    <h1 v-if="actorsTotal > 0" class="text-3xl font-semibold mb-4 mt-6">
        Актеры ({{ actorsTotal }})</h1>
    <flash-message :showUpdated="showIndexUpdated"
                   :text="this.flashMessage"
                   :type="this.flashType"></flash-message>
    <div v-if="actorsTotal > 0" class="bg-white overflow-hidden shadow-md sm:rounded-lg">
        <div v-if="actorsTotal > 0">
            <div v-for="elem in actorsObj" v-bind:key="elem" class="border border-t-0 border-r-0 border-l-0 p-5">
                <div class="grid grid-cols-12 gap-2">
                    <div class="col-span-3">
                        <a :href="'/actor/' + elem.id" class="d-block text-blue-500 font-bold">
                        {{ elem.name }} </a>
                    </div>
                    <div class="col-span-6">
                        <div v-for="audition in elem.auditions" class="mb-2">
                            <div class="float-left text-gray-600" v-on:click="showVideo(audition.movie)">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </div>
                            <a :href="'/actor/' + audition.actor.id" class="pl-3 text-blue-500">
                                <span v-if="audition.role" class="italic">{{audition.role.name}} &mdash;</span> {{ audition.actor.name }}
                                </a><span v-for="(role, actorName) in audition.otherActors">,
                                     <span v-if="role" class="italic">{{role}} &mdash;</span> {{actorName}}
                                </span>
                        </div>
                    </div>
                    <div class="col-span-3">
                        <div v-for="(project, key) in elem.projects">
                            {{key === 0 ? '' : ', '}}
                            <a :href="'/project/'+project.id" class="text-gray-300">{{project.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="actorsTotal > 1 && actorsLinks && actorsLinks.next != null"  class="flex justify-center">
            <button @click="loadMoreActors"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-5 mb-5">
                Загрузить еще
            </button>
        </div>

        <video-modal :show="showModalDialog"
                     :movie="this.movie"
                     @close="hideModal($event)" >
        </video-modal>
    </div>
</template>

<script>

    import FlashMessage from '@/Jetstream/FlashMessage';
    import VideoModal from "@/Pages/Modals/VideoModal";

    export default {
        el: '#app',
        props: ['searchQuery', 'actorsInitial'],
        watch: {
            searchQuery: {
                handler: function(val, oldVal) {
                    this.searchQueryLocal = val;
                    this.submitSearch();
                },
            }
        },
        created() {
            this.movie = null;
        },
        data() {
            return {
                actorsObj: this.actorsInitial,
                actorsLinks:  null,
                actorsTotal: this.actorsInitial ? this.actorsInitial.length : 0,
                searchQueryLocal: '',
                showModalDialog: false,
                flashMessage: '',
                flashType: 'success',
                showIndexUpdated: false,
            }
        },
        methods: {
            showVideo(movie)
            {
                this.movie = movie;
                this.showModalDialog = true;
            },
            hideModal()
            {
                this.showModalDialog = false;
            },
        },
        components: {
            FlashMessage,
            VideoModal,
        }
    }
</script>

