<template>
    <div class="grid grid-cols-12 gap-2 mb-4 mt-6">
        <div class="col-span-12 md:col-span-6 p-5 md:p-3">
            <!-- Actors -->
            <h1 v-if="actorsTotal > 0" class="text-3xl font-semibold">
                Актеры ({{ actorsTotal }})</h1>
        </div>
        <div class="col-span-12 md:col-span-6 md:text-right p-5 md:p-3">
            <span class="mr-2"> Сортировка: </span>
            <button @click="this.changeOrderBy($event)"
                    data-sort="date"
                    :class="{ 'border-solid border-2 border-black' : this.orderBy === 'date' }"
                    class="mr-2 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 focus:outline-none">
                по дате добавления</button>
            <button  @click="this.changeOrderBy($event)"
                     :class="{ 'border-solid border-2 border-black' : this.orderBy === 'name' }"
                     data-sort="name"
                     class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 focus:outline-none">
                по имени</button>
        </div>
    </div>

    <div v-if="actorsTotal > 0" class="bg-white overflow-hidden shadow-md sm:rounded-lg">
        <div v-for="elem in actorsObj" v-bind:key="elem" class="border border-t-0 border-r-0 border-l-0 p-5">
            <div class="grid grid-cols-12 gap-2">
                <div class="col-span-3">
                    <a :href="'/actor/' + elem.id" class="d-block text-blue-500 font-bold">
                    {{ elem.name }} </a>
                </div>
                <div class="col-span-9">
                    <span v-for="(project,index) in elem.projects" v-bind:key="project">
                        {{ project.name }}
                        <span v-if="project.year_end">
                        ( {{ project.year_end }} ) </span>
                        <span v-if="index != Object.keys(elem.projects).length - 1">, </span>
                    </span>
                </div>
            </div>
        </div>
        <div v-if="actorsTotal > 1 && metaLinks"  class="flex justify-center">
            <pagination class="mt-6" :links="metaLinks" @pageChanged="loadMoreActors($event)"/>
        </div>
    </div>
</template>

<script>

    import Pagination from '@/Jetstream/Pagination';

    export default {
        el: '#app',
        props: ['searchQuery'],
        watch: {
            searchQuery: {
                handler: function(val, oldVal) {
                    this.searchQueryLocal = val;
                    this.loadMoreActors(route('loadActors'));
                },
            },
        },
        data() {
            return {
                searchQueryLocal: '',
                actorsTotal: 0,
                actorsObj : null,
                metaLinks : null,
                currentPage: '',
                orderBy: null,
            }
        },
        created() {
            this.loadMoreActors(route('loadActors'));
        },
        components: {
            Pagination,
        },
        methods: {
            changeOrderBy: function (event) {
               let target = event.target;
               let targetVal = target.getAttribute('data-sort');

               // clear filtration or set new value
               if(this.orderBy === targetVal) {
                   this.orderBy = null;
               } else {
                   this.orderBy = targetVal;
               }

               // load filtered data
               this.loadMoreActors(this.currentPage ?? route('loadActors'));
            },
            loadMoreActors: function (next) {

                this.currentPage = next;

                let ajaxRequest = null;

                // cancel  previous ajax if exists
                if (ajaxRequest ) {
                    ajaxRequest.cancel();
                }

                // creates a new token for upcomming ajax (overwrite the previous one)
                ajaxRequest = axios.CancelToken.source();

                var location = next;
                var hasNotPage = next.indexOf('page') === -1;

                // order_by =
                if(this.orderBy) {
                    location+= (hasNotPage ? '?' : '&') + 'order_by=' + this.orderBy;
                }

                // name_by =
                if(this.searchQueryLocal) {
                    location+= ((hasNotPage && !this.orderBy) ? '?' : '&') + 'name=' + this.searchQueryLocal;
                }

                axios.get(location, { cancelToken: ajaxRequest.token })
                    .then(response => {
                        if(!Object.keys(response.data).length) {
                            this.clear();
                        } else {
                            var responseData  = response.data.data;
                            var self = this;
                            self.actorsObj = [];
                            responseData.forEach(function(newItem){
                                self.actorsObj.push(newItem);
                            });
                            this.actorsTotal =  response.data.meta.total;
                            this.metaLinks   =  response.data.meta.links;
                        }
                    }).catch(function(err) {
                        if (axios.isCancel(err)) {
                            console.log('Previous request canceled, new request is send', err.message);
                        }
                    });
            },
            clear: function () {
                this.metaLinks   =  null;
            }
        }
    }
</script>

