
<template>
    <!-- Projects -->
    <h1 v-if="projectsTotal > 0"
        class="text-3xl font-semibold mb-4 mt-6">Проекты ({{ projectsTotal }})</h1>
    <div v-if="projectsTotal > 0" class="bg-white overflow-hidden shadow-md sm:rounded-lg divide-y divide-grey-500">
        <div v-for="elem in projectsObj" v-bind:key="elem" class="border border-t-0 border-r-0 border-l-0 p-5">
            <div class="grid grid-cols-12 gap-2">
                <div class="col-span-3">
                    <a :href="'/project/' + elem.id"  class="d-block text-blue-500 font-bold">
                    {{ elem.name }} </a>
                </div>
                <div> {{ elem.year_end }} </div>
                <div class="col-span-8">
                   {{ elem.roles_count }}
                   {{ elem.actors_count }}
                   {{ elem.auditions_count }}
                </div>
            </div>
        </div>
        <div v-if="projectsTotal > 1 && metaLinks"
             class="flex justify-center">
            <pagination class="mt-6" :links="metaLinks" @pageChanged="loadMoreProjects($event)"/>
        </div>
    </div>
</template>

<script>

    import Pagination from '@/Jetstream/Pagination';

    export default {
        el: '#app',
        props: ['searchQuery'],
        watch: {
            searchQuery: {
                handler: function(val, oldVal) {
                    this.searchQueryLocal = val;
                    this.loadMoreProjects(route('loadProjects'));
                },
            }
        },
        data() {
            return {
                searchQueryLocal: '',
                projectsTotal: 0,
                projectsObj : null,
                projectsLinks : null,
            }
        },
        created() {
            this.loadMoreProjects(route('loadProjects'));
        },
        components: {
            Pagination,
        },
        methods: {
            loadMoreProjects: function (next) {

                let ajaxRequest = null;

                // cancel  previous ajax if exists
                if (ajaxRequest ) {
                    ajaxRequest.cancel();
                }

                // creates a new token for upcomming ajax (overwrite the previous one)
                ajaxRequest = axios.CancelToken.source();

                var location = next;
                var hasNotPage = next.indexOf('page') === -1;

                // name_by =
                if(this.searchQueryLocal) {
                    location+= (hasNotPage ? '?' : '&') + 'name=' + this.searchQueryLocal;
                }

                axios.get(location, { cancelToken: ajaxRequest.token })
                    .then(response => {
                        if(!Object.keys(response.data).length) {
                            this.clear();
                        } else {
                            var responseData   =  response.data.data;
                            var self = this;
                            self.projectsObj = [];
                            responseData.forEach(function(newItem){
                                self.projectsObj.push(newItem);
                            });
                            this.projectsTotal =  response.data.meta.total;
                            this.metaLinks   =  response.data.meta.links;
                        }
                    }).catch(function(err) {
                        if (axios.isCancel(err)) {
                            console.log('Previous request canceled, new request is send', err.message);
                        }
                     });
            },
            clear: function () {
                this.metaLinks   =  null;
            }
        }
    }
</script>

