<template>
    <!-- Roles -->
    <h1 v-if="rolesTotal > 0" class="text-3xl font-semibold mb-4 mt-6">
        Роли({{ rolesTotal }})</h1>
    <div class="bg-white overflow-hidden shadow-md sm:rounded-lg">
        <div v-for="elem in rolesObj" v-bind:key="elem" class="border border-t-0 border-r-0 border-l-0 p-5">
            <div class="grid grid-cols-12 gap-2">
                <div class="col-span-3">
                    <a :href="'project/' + elem.project.id  + '/role/' + elem.id"
                       class="d-block text-blue-500 font-bold" target="_blank">
                        {{ elem.name }} </a>
                </div>
                <div class="col-span-9">
                    {{ elem.project.name }}
                    <span v-if="elem.project.year_end"> ( {{  elem.project.year_end }} ) </span>
                </div>
            </div>
        </div>
        <div v-if="rolesTotal > 1 && metaLinks"  class="flex justify-center">
            <pagination class="mt-6" :links="metaLinks" @pageChanged="loadMoreRoles($event)"/>
        </div>
    </div>
</template>

<script>

    import Pagination from '@/Jetstream/Pagination';

    export default {
        el: '#app',
        props: ['searchQuery'],
        watch: {
            searchQuery: {
                handler: function(val, oldVal) {
                    this.searchQueryLocal = val;
                    this.submitSearch();
                },
            }
        },
        data() {
            return {
                searchQueryLocal: '',
                rolesObj : null,
                rolesTotal: 0,
                metaLinks : null,
            }
        },
        components: {
            Pagination,
        },
        methods: {
            submitSearch: function() {
                let ajaxRequest = null;

                // cancel  previous ajax if exists
                if (ajaxRequest ) {
                    ajaxRequest.cancel();
                }

                // creates a new token for upcomming ajax (overwrite the previous one)
                ajaxRequest = axios.CancelToken.source();

                if(this.searchQueryLocal) {
                    var location = '/api/roles?name=' + this.searchQueryLocal;

                    axios.get(location, { cancelToken: ajaxRequest.token })
                        .then(response => {
                            if(!Object.keys(response.data).length) {
                                this.clear();
                            } else {
                                this.rolesObj   =  response.data.data;
                                this.rolesTotal =  response.data.meta.total;
                                this.metaLinks   =  response.data.meta.links;
                            }

                        }).catch(function(err) {
                        if (axios.isCancel(err)) {
                            console.log('Previous request canceled, new request is send', err.message);
                        }
                    });

                } else {
                    this.clear();
                }

            },
            loadMoreRoles: function (next) {

                let ajaxRequest = null;

                // cancel  previous ajax if exists
                if (ajaxRequest ) {
                    ajaxRequest.cancel();
                }

                // creates a new token for upcomming ajax (overwrite the previous one)
                ajaxRequest = axios.CancelToken.source();

                var location = next;

                if(this.searchQueryLocal) {
                    location+= '&name=' + this.searchQueryLocal;
                }

                axios.get(location, { cancelToken: ajaxRequest.token })
                    .then(response => {
                        if(!Object.keys(response.data).length) {
                            this.clear();
                        } else {
                            var responseData  = response.data.data;
                            var self = this;
                            self.rolesObj = [];
                            responseData.forEach(function(newItem){
                                self.rolesObj.push(newItem);
                            });
                            this.rolesTotal =  response.data.meta.total;
                            this.metaLinks   =  response.data.meta.links;
                        }
                    }).catch(function(err) {
                    if (axios.isCancel(err)) {
                        console.log('Previous request canceled, new request is send', err.message);
                    }
                });
            },
            clear: function () {
                this.metaLinks   =  null;
                this.rolesObj = null;
                this.rolesTotal = 0;
            },
        }
    }
</script>

