<template>
    <label class="block">
        <input type="text"
               @keyup="passEvent"
               class="mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black
                    placeholder-gray-300" placeholder="Введите ФИО актера или название проекта">
    </label>
</template>

<style scoped>

</style>

<script>
    export default {
        el: '#app',
        methods: {
            passEvent(val)
            {
                this.$emit('changeTitle',  val.target.value)
            },
        },
        data() {
            return {
                searchQuery: ''
            }
        },
    }
</script>