<template >
    <div class="fixed top-0 right-0 m-6">
        <Transition name="slide-fade">
            <div v-if="message"
                    :class="{'bg-red-200 text-red-900': message.type === 'error',
                             'bg-green-200 text-green-900': message.type === 'success'}"
                    class="rounded-lg shadow-md p-6 pr-10"
                    style="min-width: 240px">
                <div class="flex items-center">
                    {{ message.text }}
                </div>
            </div>
        </Transition>
    </div>
</template>

<script>
    export default {
        props: ['showUpdated', 'text', 'type'],
        data() {
            return {
                message: null ,
            };
        },
        watch: {
            showUpdated(val, oldVal) {

               this.message = {
                   text: this.text,
                   type: this.type ? this.type : 'success',
               };

                let timer;

                timer = setTimeout(() => {
                    this.message = null;
                }, 3000);

           },
        },
    };
</script>
