<template>
    <div v-if="links.length > 3">
        <div class="flex flex-wrap mb-1">
            <template v-for="(link, k) in links" :key="k">
                <div v-if="link.url === null"  class="mr-1 mb-1 px-4 py-3 text-sm leading-4 text-gray-400 border rounded" v-html="link.label" />
                <a v-if="link.url !== null" class=" mr-1 mb-1 px-4 py-3 text-sm leading-4 border rounded focus:border-indigo-500 focus:text-indigo-500"
                        :class="{ 'bg-blue-700 text-white': link.active }" :href="link.url" v-html="link.label"
                   @click="getNextPage"/>
            </template>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['links'],
        methods: {
            getNextPage(e) {
                e.preventDefault();
                var target = e.target;
                this.$emit('pageChanged',  target.href);
            }
        },
        emits: ['pageChanged'],
    }
</script>

<style scoped>
    .text-white {
        --tw-text-opacity: 1;
        color: rgba(255, 255, 255, var(--tw-text-opacity)) !important;
    }
</style>